.addBike__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
}
.addBike__form{
    display: grid;
    background-color: white;
    border-radius: 20px;
    width: 400px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.addBike__closeIcon{
    position: relative;
    width: 25px;
    left: 375px;
    margin: 0;
    padding: 0;
}
.addBike__closeIcon img{
    width: 25px;
    margin: 0;
    padding: 0;
}

.addBike__fields{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.addBike__input{
    border: 0;
    padding: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 1px solid gray;
    font-size: 20px;
    line-height: 30px;
}

.addBike__input:focus{
    outline: 0;
    border-bottom-color: #0e3c83;
}

.addBike_checkBox{
    width: 20px;
}

.addBike__label{
    width: 90px;
    color: #0d507c;
}

.addBike__submitBTN{
    cursor: pointer;
    width: 200px;
    height: 30px;
    border: none;
    background-color: #0d507c;
    color: white;
    border-radius: 25px;
    place-self: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}