@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --main-color: green;
    --main-bg-color: white;
}

html, body{
    display: flexbox;
    font-family: "Dosis", sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(225, 233, 238);
    overflow: hidden;
    font-family: "Source Sans 3", sans-serif
}

a{
    text-decoration: none;
    color: inherit;  
}



.main__container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        'TopBar TopBar'
        'NavBar Routes';
    margin: 0;
}