.bike__container{
    display: flex;
    justify-content: center;
    overflow: scroll;
}
.bike__cardContainer{
    width: 800px;
    height: min-content;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 25px min-content min-content;
    justify-items: center;
    justify-content: center;
}

.bike__closeIcon{
    position: relative;
    width: 25px;
    left: 385px;
    margin: 0;
    padding: 0;
}
.bike__closeIcon img{
    width: 25px;
    margin: 0;
    padding: 0;
}

.bike__image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 600px
}
.bike__image-container img{
    width: 500px;
}

.bike__details{
    display: grid;
    grid-template-columns: 600px;
    justify-items: center;
    align-content: center;
    width: 100%;
}
.bike__name{
    margin: 0;
    margin-top: 20px;
}
.bike__name h2{
    margin: 0;
}
.bike__details h3{
    justify-self: left;
    margin: 0;
    font-style: italic;
}
.bike__spectsAndPrice{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.bike__spects p{
    margin: 0;
}

.bike__spects span{
    font-weight: bold;
    font-style: italic;
}
.bike__price{
    display: grid;
    justify-content: center;
    align-content: center;
}
.bike__price h4{
    margin: 0;
    align-self: center;
}
.bike__add-to-cart{
    cursor: pointer;
    width: 200px;
    height: 30px;
    border: none;
    background-color: #0d507c;
    color: white;
    border-radius: 25px;
    place-self: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}



